<!-- About Section -->
<section id="about" class="section-padding clear">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-30">
        <h6 class="heading-subtitle">About Me</h6>
        <h2 class="heading-title">Frances Gorman</h2> 
        <p class="mb-30">Hello, My name is Frances Gorman. I am a creative director and designer based in California, USA. I love minimalism and I create stunning websites. Feel free to contact me for any projects you might have in mind. Creative suscipit ante a hendre. </p>
        <div class="about-info">
          <div class="row">
            <div class="col-md-6">
              <p><b>Birthday:</b> 15 April 1990</p>
              <p><b>Website:</b> www.fgorman.com</p>
              <p><b>Phone:</b> +1 650 123 4444</p>
              <p><b>Study:</b> Univercity of Harvard</p>
            </div>
            <div class="col-md-6">
              <p><b>Degree:</b> Master</p>
              <p><b>Mail:</b> info@fgorman.com</p>
              <p><b>Linkedin:</b> @francesgorman</p>
              <p><b>Freelance:</b> Available</p>
            </div>
          </div>
        </div>
        <div class="btn-2 mb-5"><a href="#0"><span>Download CV&nbsp;&nbsp;<i class="ti-download"></i></span></a></div>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="about-img animate-box" data-animate-effect="fadeInUp">
          <div class="img"> <img src="<%= cdn_asset('images/about.jpg') %>" alt=""> </div>
        </div>
      </div>
    </div>
  </div>
</section>
