<!-- Work Banner Section -->
<section class="banner-action section-padding bg-img bg-fixed" data-overlay-brown="8" data-background="<%= cdn_asset('images/gil/foto11.png') %>">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="text-center">
          <h2>¿Te gustaría que trabajemos juntos?</p>
            <h5>Estoy disponible.</h5>
            <div class="btn-3">
              <%= link_to root_path(anchor: "contact") do %>
                <span>Escríbeme&nbsp;&nbsp;<small><i class="ti-angle-down"></i></small></span>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
