<!-- Blog Section -->
<section id="blog" class="gorman-blog section-padding bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="heading-subtitle">My Blog</h6>
        <h2 class="heading-title">Current News</h2> </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="position-re o-hidden"> <img src="<%= cdn_asset('images/blog/1.jpg') %>" alt=""> </div>
            <div class="con"> <span class="category">
                <a href="blog.html">Web Design </a> - 20 Dec, 2025
              </span>
              <h5><a href="post.html">What is customer experience?</a></h5> </div>
          </div>
          <div class="item">
            <div class="position-re o-hidden"> <img src="<%= cdn_asset('images/blog/2.jpg') %>" alt=""> </div>
            <div class="con"> <span class="category">
                <a href="blog.html">Digital Marketing</a> - 18 Dec, 2025
              </span>
              <h5><a href="post.html">Importance Of Being A Team Member</a></h5> </div>
          </div>
          <div class="item">
            <div class="position-re o-hidden"> <img src="<%= cdn_asset('images/blog/3.jpg') %>" alt=""> </div>
            <div class="con"> <span class="category">
                <a href="blog.html">Website Design</a> - 16 Dec, 2025
              </span>
              <h5><a href="post.html">What Are Team Management Skills?</a></h5> </div>
          </div>
          <div class="item">
            <div class="position-re o-hidden"> <img src="<%= cdn_asset('images/blog/4.jpg') %>" alt=""> </div>
            <div class="con"> <span class="category">
                <a href="blog.html">Social Media</a> - 14 Dec, 2025
              </span>
              <h5><a href="post.html">From Perfect to Positive</a></h5> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
