<!-- Footer -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-30">
        <div class="item abot">
          <div class="fothead">
            <h6>Frances Gorman</h6> </div>
          <p>I am a creative director and designer based in California, United States.</p>
          <div class="social-icon"> <a href="index.html"><i class="ti-facebook"></i></a> <a href="index.html"><i class="ti-twitter"></i></a> <a href="index.html"><i class="ti-instagram"></i></a> <a href="index.html"><i class="ti-pinterest"></i></a> </div>
        </div>
      </div>
      <div class="col-md-2 offset-md-1 mb-30">
        <div class="item usful-links">
          <div class="fothead">
            <h6>Useful Links</h6> </div>
          <ul>
            <li><i class="ti-angle-right"></i> <a href="#0">About</a></li>
            <li><i class="ti-angle-right"></i> <a href="#0">Services</a></li>
            <li><i class="ti-angle-right"></i> <a href="#0">Works</a></li>
            <li><i class="ti-angle-right"></i> <a href="#0">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 mb-30">
        <div class="item fotcont">
          <div class="fothead">
            <h6>Get in touch</h6> </div>
          <p>+1 234-444-5555</p>
          <p>info@fgorman.com</p>
          <p>support@fgorman.com</p>
        </div>
      </div>
      <div class="col-md-3 mb-30">
        <div class="item fotcont">
          <div class="fothead">
            <h6>Location</h6> </div>
          <p>San Mateo</p>
          <p>2 Curiosity Way, San Mateo</p>
          <p>CA 94403, USA</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="text-left">
            <p>© 2025, Gorman. All right reserved.</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="text-right-left">
            <p><a href="#0">Terms &amp; Conditions</a> <span>|</span> <a href="#0">Impression</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
