<!-- Home & Slider Section -->
<section id="home">
  <div class="gorman-hero js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url(<%= cdn_asset('images/slider.jpg') %>;">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-6 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h2>Frances Gorman</h2>
                    <h6>Freelance Designer</h6>
                    <div class="line"></div>
                    <ul class="cardvisit-list">
                      <div class="list">
                        <div class="icon"><i class="ti-headphone-alt"></i></div>
                        <div class="text">
                          <p><a href="tel:+41-(0)41-888-74-88">+1 (650) 123 4444</a></p>
                        </div>
                      </div>
                      <div class="list">
                        <div class="icon"> <i class="ti-email"></i> </div>
                        <div class="text">
                          <p><a href="mailto:reservations@chediandermatt.com">info@francesgorman.com</a></p>
                        </div>
                      </div>
                      <div class="list">
                        <div class="icon"> <i class="ti-location-pin"></i> </div>
                        <div class="text">
                          <p>2 Curiosity Way, 94403, California, United States</p>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
