<!-- Resume section -->
<section id="resume" class="resume section-padding bg-img bg-fixed" data-overlay-brown="8" data-background="<%= cdn_asset('images/resume.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="col-md-5 valign">
        <div class="o-hidden full-width">
          <div class="profile">
            <div class="block">
              <h4>Experience</h4>
              <div class="item">
                <h6>HMM Space Inc.<span>2025 - Present</span></h6>
                <p>UI/UX Designer & Web Developer</p>
              </div>
              <div class="item">
                <h6>Robinhood Inc. <span>2018 - 2025</span></h6>
                <p>Senior Developer</p>
              </div>
              <div class="item">
                <h6>Bauen Software Inc. <span>2016 - 2018</span></h6>
                <p>Web Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-2 valign">
        <div class="o-hidden full-width">
          <div class="profile">
            <div class="block">
              <h4>Education</h4>
              <div class="item">
                <h6>Stanford University <span>2013 - 2015</span></h6>
                <p>of California.</p>
              </div>
              <div class="item">
                <h6>Specialization Course. <span>2011 - 2013</span></h6>
                <p>MIT University</p>
              </div>
              <div class="item">
                <h6>Level High School. <span>2009 - 2011</span></h6>
                <p>San Fransisco</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
