<!-- Services Section -->
<section id="services" class="services section-padding bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="heading-subtitle">What I Do</h6>
        <h2 class="heading-title">Services</h2> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <a href="website.html"> 
            <span class="icon et-laptop"></span>
            <h5>Website</h5>
            <div class="line"></div>
            <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami.</p>
            <div class="numb">01</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="seo-marketing.html"> 
            <span class="icon et-bargraph"></span>
            <h5>SEO Marketing</h5>
            <div class="line"></div>
            <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami.</p>
            <div class="numb">02</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="ecommerce.html"> 
            <span class="icon et-basket"></span>
            <h5>eCommerce</h5>
            <div class="line"></div>
            <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami.</p>
            <div class="numb">03</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="graphic-design.html"> 
            <span class="icon et-browser"></span>
            <h5>Graphic Design</h5>
            <div class="line"></div>
            <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami.</p>
            <div class="numb">04</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="digital-marketing.html"> <span class="icon et-target"></span>
            <h5>Digital Marketing</h5>
            <div class="line"></div>
            <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami.</p>
            <div class="numb">05</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="social-media.html"> <span class="icon et-chat"></span>
            <h5>Social Media</h5>
            <div class="line"></div>
            <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami.</p>
            <div class="numb">06</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
