<!-- Logo -->
<div class="gorman-logo">
  <div class="desc">
    <div class="image-wrap">
      <a href="index.html"><img src=" <%= cdn_asset('images/gil/foto8.jpeg') %>" alt=""></a>
    </div>
    <div class="title"> <a href="index.html">G. Tovar</a> </div>
  </div>
</div>
<!-- Menu -->
<nav class="gorman-main-menu">
  <ul>
    <li><a href="index.html#home">Home</a></li>
    <li><a href="#about">Sobre mí</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<!-- Sidebar Footer -->
<div class="gorman-footer">
  <div class="separator"></div>
  <p>Copyright ©2025 G. Tovar<br>All right reserved.</p>
</div>
